@import '../../config';

.navbar{
    display: flex;
    align-items: center;    
    background: $primary-color;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    @include md {
        height: 60px;
    };
};

.navbar-logo{
    height: 50px;

    @include md {
        height: 40px;
    };
};

.navbar-link{
    margin: 20px auto 20px 20px;
    transition: all 0.3s ease;

    @include md {
        margin: 10px auto 10px 20px;
    };
};

.navbar-link:hover{
    transform: scale(1.04);
};

.navbar-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    cursor: pointer;
    transition: all 0.3s ease;

    @include md {
        margin-right: 0;
    };
};

.navbar-cart:hover{
    transform: scale(1.04);
};

#cart-icon{
    width: 32px;
    margin-right: 10px;
  
    @include md {
        margin-right: 20px;
    };
};

#cart-status{
    font-weight: 700;
    
    @include md {
        display: none;
    };
};