@import '../../config';

@include keyframesSCSS(grow){
    0% {width: 0;};
    100% {width: 380px;};

    @include md{
        0% {width: 0;}
        100% {width: 100vw;}
    };
};

@include keyframesSCSS(shrink){
    0% {width: 380px;};
    100% {width: 0;};

    @include md{
        0% {width: 100vw;}
        100% {width: 0;}
    };
};

.cart-open{
    @include animationSCSS(grow, 0.3s, 0s);
};

.cart-closed{
    @include animationSCSS(shrink, 0.3s, 0);
    overflow: hidden;
};

.cart-sidebar{
    @include shadow-1-216;
    @include flex-dja(column, flex-start, normal);
    width: 380px;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    box-sizing: border-box;
    padding: 30px 20px 0 20px;
    background-color: white;
    z-index: 12;
    
    @include md{
        width: 100vw;
    };
};

.cart-sidebar-closed{
    @include shadow-1-216;
    @include flex-dja(column, flex-start, normal);
    width: 0;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    z-index: 12;
    @include md{
        width: 0;
    };
};

.cart-and-close{
    @include flex-dja(row, flex-start, center);
    @include font-fsw(Livvic, 23px, 700);
    box-sizing: border-box;
    padding: 0 20px;
    @include md{
        @include font-fsw(Livvic, 18px, 700);
    };

    #close{
        margin: 0 0 0 auto;
        cursor: pointer;
        transition: all 0.3s ease;
    };

    #close:hover{
        transform: scale(1.03);
    };

    img{
        width: 32px;
        height: 32px;
        margin-right: 10px;
    };
};

.cart-total{
    @include flex-dja(column, center, flex-start);
    box-sizing: border-box;
    padding: 0 20px;
    margin: 45px 0 50px 0;
};

#cart-subtotal{
    @include font-fsw(Livvic, 15px, 700);
    color: $lightgrey;
};

#cart-total{
    @include font-fsw(Livvic, 40px, 700);
    flex: 1;
    margin:0;
    
    span{
        @include font-fsw(Livvic, 27px, 700);
        margin-left: 5px;
    };

};

.cart-checkout{
    @include flex-dja(row, center, center);
    margin-bottom: 30px;

    button{
        @include font-fsw(Livvic, 18.4px, 700);
        @include shadow128;
        width: 300px;
        height: 60px;
        background-color: $secondary-color;
        border: none;
        border-radius: 6px;
        transition: all 0.3s ease;
        cursor: pointer;
        @include md{
            width: 100%;
        };
    };

    button:hover{
        transform: scale(1.03);
    };
};

.cart-items{
    @include noScrollbar;
    margin-top: 45px;
    height: 490px;
    overflow-y: scroll;
    flex-grow: 1;
    
    @include md{
        height: 340px;
        margin-top: 20px;
    };
};