@import '../../config';

.cart-card{
    @include flex-dja(row, center, center);
    background: rgba(127, 127, 127, 0.102);
    height: 150px;
    margin-top: 20px;
    border-radius: 6px;
    overflow: hidden;
};

.cc-cover{
    height: 150px;
    display: flex;
    overflow: hidden;
    flex-grow: 1;

    img{
        object-fit: cover;
        min-width: 0px;
        width: 100%;
    };
};

.cc-info-container{
    @include flex-dja(column, flex-start, flex-start);
    height: 150px;
    min-width: 230px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
};

#cc-title-container{
    @include flex-dja(row, flex-start, flex-start);
    margin-bottom: 20px;
    flex-grow: 1;
};

#cc-title{
    @include font-fsw(Livvic, 20px, 700);
    margin: 0;
    color: $secondary-color;
    text-align: left;
    line-height: 125%;
};

#cc-trash-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
};

#cart-select-buy{
    @include flex-dja(row, flex-start, center);

    select{
        @include font-fsw(Livvic, 18px, 700);
        height: 45px;
        width: 60px;
        margin-right: 15px;
        border: $secondary-color 1px solid;
        padding: 10px;
        border-radius: 6px;
        @include md{
            height: 45px;
        };

        option{
            @include font-fsw(Livvic, 23px, 700);
            @include md{
                @include font-fsw(Livvic, 18px, 700);
        }};
    };

    #cc-total{
        @include font-fsw(Livvic, 20px, 700);
        margin:0;
        span{
            @include font-fsw(Livvic, 13.5px, 700);
            margin-left: 5px;
        };
    };
};